<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img
  class="profile"
  src="https://kenh14cdn.com/thumb_w/660/203336854389633024/2022/5/25/1-16534623453671980716179.png"
  alt="cat profile"
/>
<p>Tienbui ngu and so do I</p>
