<%- include("partials/header.ejs") %>

<h1>Home Page</h1>

<p>
  Welcome to our little corner of the internet! We are
  <strong>Tien and Cocheche</strong>, and we’re thrilled to share our love story
  with you. Our journey together has been filled with laughter, adventures, and
  countless cherished moments. We’ve created this website to share our
  experiences, memories, and the exciting future we are building together.
</p>
<p>We are excited to share our wedding day with our loved ones.</p>

<%- include("partials/footer.ejs") %>
